.u-section-1 .u-sheet-1 {
  min-height: 910px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0 15px;
}

.u-section-1 .u-text-2 {
  margin: 12px 0 0 29px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 648px;
  margin: 21px 655px 0 135px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 358px;
  margin: -503px 161px 60px 639px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 31px;
    margin-right: 537px;
    margin-left: 68px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 68px;
    margin-left: 514px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 652px;
    margin-top: 19px;
    margin-right: 199px;
    margin-left: 15px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -522px;
    margin-right: -158px;
    margin-left: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1343px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-2 {
    width: 347px;
    margin: 12px auto 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1507px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 648px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-2 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 904px;
}

.u-section-2 .u-text-1 {
  margin: 4px auto 0 31px;
}

.u-section-2 .u-text-2 {
  margin: 23px 0 0 60px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 638px;
  margin: 30px 722px 0 60px;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 548px;
  margin: -608px 186px 60px 588px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 111px;
    margin-right: 521px;
    margin-left: 68px;
  }

  .u-section-2 .u-custom-html-2 {
    margin: -593px 68px 50px 526px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 656px;
    margin-right: 369px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-2 {
    margin-right: -150px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1876px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 251px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 345px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-custom-html-2 {
    width: 347px;
    margin: 0 auto -5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1708px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 638px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-custom-html-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 865px;
}

.u-section-3 .u-text-1 {
  margin: 28px auto 0 32px;
}

.u-section-3 .u-text-2 {
  margin: 32px auto 0 60px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 584px;
  margin: 63px 668px 0 127px;
}

.u-section-3 .u-custom-html-2 {
  height: auto;
  min-height: 358px;
  margin: -471px 197px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 578px;
    margin-top: -1px;
    margin-right: 519px;
    margin-left: 78px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: -491px;
    margin-right: 104px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 20px;
    margin-right: 374px;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-2 {
    margin: -464px 20px 135px 355px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1252px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 346px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-2 {
    width: 345px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 0;
    width: 340px;
  }
}